@import "../../styles/variable.scss";

.staking {
  width: 100%;
  min-height: calc(100vh - 228px);
  justify-content: center;

  &-wrapper {
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    padding: 48px 0 128px;

    & > div {
      display: flex;
      width: 100%;
      justify-content: center;

      & > h1 {
        color: $yellow !important;
        text-align: center;
      }
    }
  }

  &-main {
    width: 100%;
    max-width: 640px;
    grid-row-gap: 16px;

    & > div {
      width: 100%;
      padding: 24px;
    }

    &-sumup {
      grid-template: auto / 1fr 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 16px;

      & > div {
        width: 100%;

        & > h3 {
          margin: 8px 0;
          color: $orange;
        }

        & > span {
          color: $white;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &-history {
      width: 100%;
      grid-template: auto / 1fr 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 12px;

      & > div {
        width: 100%;
        padding: 12px;
        word-break: break-all;

        & > span {
          font-size: 14px;
          font-weight: bold;
          color: $yellow;
        }

        & > p {
          margin: 4px 0;
          font-size: 14px;
          color: $white;
        }
      }
    }

    &-staker {
      & > h2 {
        color: $orange;
        margin: 8px 0;
      }

      & > p {
        margin: 0 0 16px 0;
        color: $white;
        font-size: 14px;
        font-weight: 500;
      }

      &-amount {
        width: 100%;
        grid-template: auto / 1fr 1fr;
        padding: 4px 16px;
        grid-column-gap: 16px;
        align-items: center;

        & > span {
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          color: $white;
        }

        & > div {
          position: relative;
          overflow: hidden;
          align-items: center;

          & > input {
            width: 100%;
            padding: 8px 16px;
            border: none;
            background-color: rgba($color: $gray, $alpha: 0.1);
            color: $white;
          }

          & > button {
            position: absolute;
            right: 8px;
            border: none;
            background-color: transparent;
            color: $blue;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              color: $green;
            }
          }
        }
      }

      &-lockdate {
        margin-top: 16px;
        width: 100%;
        padding: 16px;

        & > p {
          margin: 8px 0;
          color: $white;
          font-size: 14px;
          font-weight: bold;
        }

        & > div {
          grid-template: auto / 1fr 1fr 1fr 1fr;
          grid-column-gap: 16px;
          grid-row-gap: 12px;

          @media (max-width: 768px) {
            grid-template: auto / 1fr 1fr;
          }

          & > button {
            border: none;
            overflow: hidden;
            padding: 8px;
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;
            color: $orange;

            &:hover {
              background-color: rgba($color: $gray, $alpha: 0.1);
            }
          }
        }
      }

      &-info {
        width: 100%;
        margin: 16px 0 24px;

        & > p {
          margin: 4px 0;
          text-align: center;
          color: $white;
          font-size: 12px;
          font-weight: 500;

          & > strong {
            color: $yellow;
          }
        }
      }

      & > button {
        margin: 4px 0;
        width: 100%;
        font-weight: 600;
        padding: 8px 16px;
        background-image: linear-gradient(135deg, $yellow, $orange);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 8px rgba($color: $orange, $alpha: 0.4);
        transition: 0.3s;

        &:hover {
          box-shadow: 0 4px 16px rgba($color: $yellow, $alpha: 0.7);
        }

        &:active {
          box-shadow: 0 4px 8px rgba($color: $yellow, $alpha: 0.7);
        }
      }
    }
  }
}

.lockdate-active {
  background-color: rgba($color: $gray, $alpha: 0.6) !important;
}
