// Theme Color
$black-dark: rgb(0, 0, 0);
$black-dark-gradient: rgb(31, 32, 40);
$black: rgb(33, 36, 41);
$white: rgb(231, 232, 238);

$gray: rgb(112, 112, 112);
$green-dark: rgb(22, 184, 98);
$green: rgb(0, 245, 190);
$blue: rgb(31, 210, 235);

$orange: rgb(255, 170, 0);
$red: rgb(245, 69, 98);

$yellow: rgb(235, 209, 95);
