@import "../../styles/variable.scss";

.navbar {
  position: absolute;
  width: 100%;
  justify-content: center;
  z-index: 100;
  border-bottom: 1px solid rgba(112, 112, 112, 0.05);

  &-wrapper {
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &-first {
  }

  &-logo {
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &-anchors {
    margin-left: 128px;

    @media (max-width: 768px) {
      margin-left: 32px;
    }

    & > a {
      height: 100%;
      color: $white;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;
      margin: 0 36px 0 0;

      @media (max-width: 768px) {
        font-size: 14px;
        margin: 0 24px 0 0;
      }

      &:hover {
        color: $yellow;
      }
    }
  }

  &-last {
    & > button {
      font-weight: 600;
      padding: 8px 16px;
      background-image: linear-gradient(135deg, $yellow, $orange);
      border-radius: 8px;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 8px rgba($color: $orange, $alpha: 0.4);
      transition: 0.3s;

      &:hover {
        box-shadow: 0 4px 16px rgba($color: $yellow, $alpha: 0.7);
      }

      &:active {
        box-shadow: 0 4px 8px rgba($color: $yellow, $alpha: 0.7);
      }
    }
  }
}
