@import "../../styles/variable.scss";

.footer {
  width: 100%;
  height: 228px;
  justify-content: center;
  padding: 16px 0 25px;
  border-top: 1px solid rgba($color: $gray, $alpha: 0.05);

  &-wrapper {
    align-items: center;
    justify-content: center;
  }

  &-logo {
    justify-content: center;
    margin: 24px 0;

    & > img {
      width: 64px;
      height: 64px;
      min-width: 64px;
      min-height: 64px;
    }
  }

  &-copyright {
    color: $white;
    font-size: 14px;
    text-align: center;
  }

  &-socials {
    margin-top: 24px;
    align-items: center;
    justify-content: center;

    & > a {
      width: 32px;
      height: 32px;
      color: $yellow;
      margin: 0 8px;

      & > svg {
        width: 100%;
        height: auto;
        height: intrinsic;
      }
    }
  }
}
